spring-kafka-streams/HELP.md
.gradle
**/.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
**/bin
**/build
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
**/out
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
**/nbproject/private/
/nbbuild/
**/nbbuild/
/dist/
**/dist/
/nbdist/
**/nbdist/
/.nb-gradle/
**/.nb-gradle/

### VS Code ###
.vscode/

### Mac ###
.DS_Store
/**/gradle/caches/
/**/gradle/.tmp/
/**/gradle/caches/
/**/gradle/daemon/
/**/gradle/jdks/
/**/gradle/native/
/**/gradle/workers/
/**/gradle/wrapper/dists/
